* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  background-color: white;
  border-radius: 5%;
  height: 80vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 10% 0 10% 0;
}

header button {
  padding: 0 20px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.allTasks {
  width: 80%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 5px;
}

form button {
  width: 20%;
  padding: 5px 0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10%;
}

.task-close p {
  color: red;
  cursor: pointer;
}

.clear {
  width: 80%;
}

.clear button {
  width: 30%;
  padding: 10px 5px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: none;
  border-radius: 5%;
  cursor: pointer;
}
